body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  width: 100%;
  height: 80px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(17,75,95,1) 47%, rgba(2,0,36,1) 95%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: wheat;
  align-items: center;
  position:fixed;
  margin-bottom: 10px;
  z-index: 1000;
}

nav li{
  display: inline-block;
  cursor: pointer;

}
nav li .link{
  text-decoration: none;
  color: white;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}
.active{
  color:black;
  opacity: 1;
}

.header {
  width: 100%;
  height: 400px;
  background-color: #E4FDE1;
  position: relative;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContent {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F45B69;
}

h1 {
  display: inline-block;
  margin: 10px;
  z-index: 1000px;
}
.about {
  width: 100%;
  height: 450px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(244,91,105,1) 49%, rgba(2,0,36,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.about > p {
  color: rgb(255, 255, 255);
}

.project > img {
  height: 200px;
  width: 350px;
}

.svg-inline--fa {
 font-size: 100px;
 margin-right: 20px;
}

.work {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-top: 600px;
}

.workContent {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: 40%;
  font-size: 20px;
 
  display: flex;
  flex-direction: column;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projectLinks > a {
  text-decoration: none;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E4FDE1;
  height: 400px;
  width: 80%;
  margin-bottom: 40px;
  margin-left: 100px;
}

.contactIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.frontend {
  background-image: url("/frontend.png");
  height: 500px;
  width: 500px;
  background-size: contain;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 900;


}
.backend {
  background-image: url("/backend.png");
  height: 500px;
  width: 500px;
  background-size: contain;
  color: rgb(255, 255, 255);
  position: absolute;
z-index: 500;

}

.tools {
  background-image: url("/tools2.jpg");
  height: 500px;
  width: 500px;
  background-size: contain;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: -1000;
}
.skills {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  display: hidden;
}

